* {
	font-family: Arial;
	font-size: 11pt;
}

th {
	padding: 5px;
	font-size:16pt;
	color: white;
	background: #4169e1;
}

table {
	border-collapse: collapse;
	background: #e6e6fa;
}

td {
	padding: 5px;
}

input {
	padding: 5px;
	border: 1px dotted #00ced1;
	background: #e0ffff;
}	

select {
	padding: 5px;
	border: 1px dotted #00ced1;
	background: #e0ffff;
}

textarea {
	padding: 5px;
	border: 1px dotted #00ced1;
	background: #e0ffff;
}

button {
	padding: 5px 20px;
	color: white;
	border: 1px solid #40e0d0;
	background: #4169e1;
} 